.regis{
    font-family:Roos St Regis Display;
  }

header{
    position: fixed;
    top:0;
    left:0;
    transition: 0.6s;
}

header .logo{
    position: relative;
    transition: 0.6s;
   
}
.navbi{
    position: relative;
    transition: 0.6s;
}

header.sticky{
    padding: 8px 30px;
    background:rgba(0, 0, 0, 0.753);
    z-index: 1;
}


.shadowi{
  box-shadow:
            5px 5px 15px  rgba(0, 0, 0, 0.3),
            -5px -5px 15px  rgba(0,0,0,0.1);
}
.shadowie{
  box-shadow: 
            5px 5px 15px  rgba(0, 0, 0, 0.3),
            -5px -5px 15px  rgba(0,0,0,0.1);}


body{
    background-color: rgb(224, 224, 224);
}

.sidenav {
  height: 91%;
  width: 260px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 1;
  background-color: rgb(255, 252, 252);
  overflow-x: hidden;
}


.main {
  margin-top: 68px;
  margin-left: 265px; /* Same as the width of the sidenav */
  padding:0 2px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}