@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background:transparent;
  color: #fff;
  line-height: 1.6;
}

/* *888888888888888888888888888888888888888888888888888888888888888 */

.sizer{
  font-size:9.7rem;
}

.craft{
  height: 750px;
}


.gradients{
  background: linear-gradient(to bottom, #f4f4f4 0%, #fefefe 100%);
}

.reverse-grad{
  background: linear-gradient(to bottom, #fefefe 0%, #f4f4f4 100%);
}

.red-grad-in{
  background: linear-gradient(to bottom, #f4f4f4 0%, #fbeded 100%);
}
.red-grad-out{
  background: linear-gradient(to bottom, #fbeded 0%, #f4f4f4 100%);
}



.butty {
  width: 200px;
  height: 40px;
  position: relative;
  background: rgb(202, 18, 18);
  transition:         transform .6s ease-in-out;
}
.butty:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.butty:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid  rgb(202, 18, 18);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.butty:hover{
  transform: translateX(25px);
  background-color: #f51919;
  border-left: #f51919;
}

.glide__slide{
  filter:blur(6px);
  opacity: .7;
  transition: .3s linear;
}

.glide__slide--active{
  opacity: 1;
  filter:none;
  transform: scale(1.1);
}



.burron{
    border-style: solid;
    border-color: transparent transparent red transparent;
    border-width: 0 5px 5px 5px;
    height: 0;
    width: 11px;
    box-sizing: content-box;
    position: relative;
    margin: 3.5px 0 11px 0;
    transition:transform .6s ease-in-out;
  }
  .burron:after {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: red transparent transparent transparent;
    border-width: 16px 11px 0 11px;
  }


  .burron:hover{
    transform: translate(-5px);
  }


































/* *********************************************************************************** */
.slider {
  position: relative;
  overflow: hidden;
  height:calc(100vh - 64px);
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 5%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 5%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}



/* Backgorund Images */
 
.slide:first-child {
  background: url('./Images/C1.jpg') no-repeat
    center /cover;
}

.slide:nth-child(2) {
  background: url('/Images/C2.jpg') no-repeat
    center bottom/cover;
} 
.slide:nth-child(3) {
  background: url('./Images/C3.jpg') no-repeat
    center /cover;
}
.slide:nth-child(4) {
  background: url('./Images/C4.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('./Images/C5.jpg') no-repeat
    center bottom/cover;
} 
.slide:nth-child(6)  {
  background: url('./Images/C6.jpg') no-repeat
    center center/cover;
}





.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 64px;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
  transition: .3s linear;
}

.side--active{
  transform: scale(1.1);
}

.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  /* font-size: 25px; */
  color: #ffffff;
  /* display: block; */
  transition: 0.3s;

}

.sidenav a:hover{
  color: #fde7e7;
} 

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#line .draw .hover {
  transition: all 0.2s ease-in-out;
  position: relative;
}
#line .draw .hover:before, #line .draw .hover:after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0px;
  height: 1px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.55s;
  background-color: #f51919;
}
#line .draw .hover.hover-1:before, #line .draw .hover.hover-1:after {
  left: 0;
}
#line .draw .hover.hover-4:before {
  left: 0;
}
#line .draw:hover .hover:before, #line .draw:hover .hover:after {
  width: 100%;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ffffff00;}

